.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  height: 5em;
  border-bottom: 10px solid lightgray;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color:inherit;
}

.chat__details {
    flex:1;
}

.chat__details p {
    color: grey;
}

.chat__image {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin-right:20px;
}

.chat__timestamp {
    color: grey;
}
